// Variables
$top-border-color: #3167eb;
$border-color: #e4e4e4;
$sky-blue: #007bff;
$footer-border: #b8b8b8;
body {
	margin: 0;
	font-family: 'Lato', sans-serif;
}

.container {
	height: auto;
	display: grid;
	background-color: #f7f7f7;
}
/* NAVBAR */
navbar {
	border-top: 10px solid $top-border-color;
	height: 86px;
	display: flex;
	background-color: white;
}
.navbar__container {
	margin: 0 auto;
	min-width: 1140px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.search-bar {
	border-radius: 5px;
	display: flex;
	align-items: center;

	justify-content: space-between;
	height: 28px;
	border: 1px solid $border-color;
	input {
		outline: none;
		width: 25em;
		border: none;
		margin-left: 10px;
	}
}

.icon__container {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 30px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	height: 30px;
	background-color: $sky-blue;
	/* padding: 9px; */

	i {
		font-size: 0.7rem;
		color: white;
	}
}

.button__group {
	width: 300px;
	justify-content: space-around;
	display: flex;

	button {
		font-size: 15px;
		border-radius: 6px;
		height: 35px;
		font-family: 'Lato', sans-serif;
	}
}
.auth-button-group button {
	padding: 8px 18px 8px 18px;
}

.signup-button {
	border: 1px solid $sky-blue;
	color: $sky-blue;
	background-color: white;
}

.login-button {
	border: none;
	color: white;
	background-color: $sky-blue;
}
.mycart-button {
	font-weight: bold;
	align-items: center;
	display: flex;
	padding: 8px 8px 8px 8px;
	color: black;
	background-color: white;

	border: 1px solid $border-color;
}
.number__label {
	padding: 1px;
	color: white;
	margin-left: 15px;
	border-radius: 3px;
	width: 15px;
	font-size: 12px;
	background-color: #ff9017;
}

/* MAIN */

.main {
	min-width: 1140px;
	margin: 0 auto;
	padding-top: 40px;
}
.banner {
	display: flex;
	background-color: white;
	border-radius: 15px;

	justify-content: space-around;
	align-items: center;
}

.banner__container {
	display: grid;
	grid-gap: 20px;

	grid-template-rows: 260px 130px;
}
.img-banner__container img {
	width: 300px;
}
.banner-title {
	display: flex;
	flex-direction: column;
	align-items: center;

	h1 {
		font-size: 42px;
		margin: 0;
	}
}
.items {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;

	grid-gap: 20px;

	.item {
		padding: 20px;
		display: flex;
		background-color: white;
		border-radius: 10px;
	}
}

.touchbar__text {
	word-spacing: 5px;
	font-size: 36px;
	color: #5a5a5a;
}

.item__icon {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 50px;
	border-radius: 100%;
}
/* ICON COLORS */
.red-icon {
	background-color: #ffe2e8;
	color: red;
}
.blue-icon {
	background-color: #dee7f5;
	color: blue;
}
.green-icon {
	background-color: #e3fbeb;
	color: green;
}

.text__container {
	width: 250px;
	padding-left: 20px;
}
.item__title {
	font-weight: bold;
	font-size: 17px;
	margin: 0px 0px 9px 0px;
}
.item__desc {
	width: 250px;
}

/* ARRIVALS */

.arrivals {
	margin-top: 100px;
}
.products {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: repeat(2, 347px);
	grid-gap: 20px;
	img {
		width: 200px;
	}
}
.product {
	display: flex;
	flex-direction: column;

	border-radius: 8px;
	background-color: white;
}
.product-combo {
	padding: 8px 20px 8px 20px;
	display: flex;
	flex-direction: column;
}
.product-price {
	font-weight: bold;
}
.img-container {
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-bottom: 1px solid $border-color;
}
.btn-addcart__container {
	margin-top: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	button {
		border: none;
		color: white;
		background-color: $sky-blue;
		font-weight: 600;
		padding: 8px 16px 8px 16px;
		border-radius: 6px;
		height: 35px;
	}
}

/* NAVIGATION */

.navigation {
	padding-top: 40px;
	padding-bottom: 200px;
	display: flex;
	justify-content: flex-end;
}
.navigation__container {
	font-weight: bold;
	font-size: 0.9em;
	align-items: center;
	display: flex;
	flex-direction: row;
	padding: 0px 20px 0px 20px;
	height: 30px;

	border-radius: 5px;
	border: 1px solid #b9b9b9;
}
.previous-number {
	padding: 0px 20px 0px 0px;
}
.next-number {
	padding: 0px 0px 0px 20px;
}
.navigation-number {
	padding: 0px 15px 0px 15px;
}
.navigation-number__container {
	display: flex;
	align-items: center;
	border-right: 1px solid #b9b9b9;
	height: 100%;
}
.is-active {
	background-color: $sky-blue;
	color: white;
}
/* FOOTER */
footer {
	background-color: #efefef;
	display: flex;
}
.footer__wrapper {
	color: #545454;
	min-width: 1140px;
	margin: 0 auto;
}

.footer__content {
	padding: 50px 0px 50px;

	grid-column-gap: 100px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	border-bottom: 1px solid $footer-border;
}
.footer__column {
	display: grid;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
	grid-row-gap: 10px;
}
.footer__info-group {
	width: 400px;
	display: flex;
	justify-content: space-between;
}
.footer__title {
	font-weight: bold;
}
.footer-lower {
	color: $footer-border;
	font-size: 0.8em;
	padding: 20px 0px 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.payment-types__img-container {
	border: 1px solid $border-color;
	display: flex;
	align-items: center;
	border-radius: 5px;
	background-color: white;
	img {
		width: 35px;
		height: 25px;
	}
}

.payment-types {
	width: 200px;
	justify-content: space-around;
	display: flex;
	flex-direction: row;
}
