body {
	margin: 0;
	font-family: 'Lato', sans-serif;
}
.container {
	height: auto;
	display: grid;
	background-color: #f7f7f7;
}
/* NAVBAR */
.navbar {
	border-top: 10px solid #3167eb;
	height: 86px;
	display: flex;
	background-color: white;
}
.navbar__container {
	margin: 0 auto;
	min-width: 1140px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.navbar__searchbar {
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 28px;
	border: 1px solid #e4e4e4;
}
.navbar__searchbar input {
	outline: none;
	width: 25em;
	border: none;
	margin-left: 10px;
}
.navbar__icon-container {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 30px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	height: 30px;
	background-color: #007bff;
}
.navbar__icon-container i {
	font-size: 0.7rem;
	color: white;
}
.navbar__button-group {
	width: 300px;
	justify-content: space-around;
	display: flex;
}
.navbar__button-group button {
	font-size: 15px;
	border-radius: 6px;
	height: 35px;
	font-family: 'Lato', sans-serif;
}
.navbar__auth-button-group button {
	padding: 8px 18px 8px 18px;
}
.navbar__signup-button {
	border: 1px solid #007bff;
	color: #007bff;
	background-color: white;
}
.navbar__login-button {
	border: none;
	color: white;
	background-color: #007bff;
}
.navbar__mycart-button {
	font-weight: bold;
	align-items: center;
	display: flex;
	padding: 8px 8px 8px 8px;
	color: black;
	background-color: white;
	border: 1px solid #e4e4e4;
}
.navbar__number-label {
	padding: 1px;
	color: white;
	margin-left: 15px;
	border-radius: 3px;
	width: 15px;
	font-size: 12px;
	background-color: #ff9017;
}
/* MAIN */
.main {
	min-width: 1140px;
	margin: 0 auto;
	padding-top: 40px;
}
.banner {
	display: flex;
	background-color: white;
	border-radius: 15px;
	justify-content: space-around;
	align-items: center;
}
.banner__container {
	display: grid;
	grid-gap: 20px;
	grid-template-rows: 260px 130px;
}
.banner__img-container img {
	width: 300px;
}
.banner__title {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.banner__title h1 {
	font-size: 42px;
	margin: 0;
}
.banner__touchbar-text {
	word-spacing: 5px;
	font-size: 36px;
	color: #5a5a5a;
}
.items {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 20px;
}
.items__item {
	padding: 20px;
	display: flex;
	background-color: white;
	border-radius: 10px;
}
.items__icon {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 50px;
	border-radius: 100%;
}
.items__text-container {
	width: 250px;
	padding-left: 20px;
}
.items__title {
	font-weight: bold;
	font-size: 17px;
	margin: 0px 0px 9px 0px;
}
.items__desc {
	width: 250px;
}
/* ICON COLORS */
.red-bg {
	background-color: #ffe2e8;
	color: red;
}
.blue-bg {
	background-color: #dee7f5;
	color: blue;
}
.green-bg {
	background-color: #e3fbeb;
	color: green;
}
/* ARRIVALS */
.arrivals {
	margin-top: 100px;
}
.arrivals__products {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: repeat(2, 347px);
	grid-gap: 20px;
}
.arrivals__products img {
	width: 200px;
}
.arrivals__product {
	display: flex;
	flex-direction: column;
	border-radius: 8px;
	background-color: white;
}
.arrivals__product__img-container {
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-bottom: 1px solid #e4e4e4;
}
.arrivals__product__combo {
	padding: 8px 20px 8px 20px;
	display: flex;
	flex-direction: column;
}
.arrivals__product__btn-addcart-container {
	margin-top: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.arrivals__product__btn-addcart-container button {
	border: none;
	color: white;
	background-color: #007bff;
	font-weight: 600;
	padding: 8px 16px 8px 16px;
	border-radius: 6px;
	height: 35px;
}
.arrivals__product__price {
	font-weight: bold;
}
/* NAVIGATION */
.navigation {
	padding-top: 40px;
	padding-bottom: 200px;
	display: flex;
	justify-content: flex-end;
}
.navigation__container {
	font-weight: bold;
	font-size: 0.9em;
	align-items: center;
	display: flex;
	flex-direction: row;
	padding: 0px 20px 0px 20px;
	height: 30px;
	border-radius: 5px;
	border: 1px solid #b9b9b9;
}
.navigation__number-container {
	display: flex;
	align-items: center;
	border-right: 1px solid #b9b9b9;
	height: 100%;
}
.navigation__number {
	padding: 0px 15px 0px 15px;
}
.navigation__previous-number {
	padding: 0px 20px 0px 0px;
}
.navigation__next-number {
	padding: 0px 0px 0px 20px;
}
.is-active {
	background-color: #007bff;
	color: white;
}
/* FOOTER */
.footer {
	background-color: #efefef;
	display: flex;
}
.footer__wrapper {
	color: #545454;
	min-width: 1140px;
	margin: 0 auto;
}
.footer__content {
	padding: 50px 0px 50px;
	grid-column-gap: 100px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	border-bottom: 1px solid #b8b8b8;
}
.footer__column {
	display: grid;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
	grid-row-gap: 10px;
}
.footer__title {
	font-weight: bold;
}
.footer__info-group {
	width: 400px;
	display: flex;
	justify-content: space-between;
}
.footer__lower {
	color: #b8b8b8;
	font-size: 0.8em;
	padding: 20px 0px 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.footer__payment-types {
	width: 200px;
	justify-content: space-around;
	display: flex;
	flex-direction: row;
}
.footer__payment-types__img-container {
	border: 1px solid #e4e4e4;
	display: flex;
	align-items: center;
	border-radius: 5px;
	background-color: white;
}
.footer__payment-types__img-container img {
	width: 35px;
	height: 25px;
}
